@model Proje.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css" />

</head>
<div class="container" id="head">
    <ol class="breadcrumb">
        <li><a href="/Home/Index">AnaSayfa</a></li>
        <li class="active">Kullanıcı Girişi</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Giriş</h1>
            </header>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Hesabınızı Giriniz</h3>
                        <p class="text-center text-muted">Kayıtlı Değilseniz <a href="/Home/SignUp">Kayıt</a>'a basınız</p>
                        <hr>

                        <form>
                            <div class="top-margin">
                                <label>Email <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="top-margin">
                                <label>Şifre <span class="text-danger">*</span></label>
                                <input type="password" class="form-control">
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <button class="btn btn-action" type="submit">Giriş</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </article>
        <!-- /Article -->

    </div>
</div>
