
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css" />

</head>
<!-- container -->
<div class="container" id="head">

    <ol class="breadcrumb">
        <li><a href="/Home/Index">Ana sayfa</a></li>
        <li class="active">Kayıt</li>
    </ol>

    <div class="row">

        <!-- Article main content -->
        <article class="col-xs-12 maincontent">
            <header class="page-header">
                <h1 class="page-title">Kaydol</h1>
            </header>

            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h3 class="thin text-center">Yeni Kayıt</h3>
                        <p class="text-center text-muted">Kayıtlıysanız <a href="/Home/SignIn">Giriş</a>'e basınız.</p>
                        <hr>

                        <form>
                            <div class="top-margin">
                                <label>İsim</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="top-margin">
                                <label>Soyisim</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="top-margin">
                                <label>Email Adres<span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="row top-margin">
                                <div class="col-sm-6">
                                    <label>Şifre <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                                <div class="col-sm-6">
                                    <label>Şifreyi onayla <span class="text-danger">*</span></label>
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="top-margin">
                                <label>Rol</label>
                                <input type="text" class="form-control">
                            </div>
                            <div class="top-margin">
                                <label>Telefon No <span class="text-danger">*</span></label>
                                <input type="text" class="form-control">
                            </div>

                            <hr>

                            <div class="row">
                                <div class="col-lg-4 text-right">
                                    <button class="btn btn-action" type="submit">Kayıt Ol</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>

        </article>
        <!-- /Article -->
    </div>
</div>
