
@{
    ViewBag.Title = "AlisVerisGoruntule";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/main.css" />
</head>

<h2>Alis Veriş Kayıtları</h2>
<table>
    <tr>
        <th>Satıcı</th>
        <th>Satılan Coin</th>
        <th>Satılan Miktar</th>
        <th>Alıcı</th>
        <th>Takas Edilen Coin</th>
        <th>Takasta Verilen Miktar</th>
    </tr>
    <tr>
        <td>Kullanıcı 1</td>
        <td>BTC</td>
        <td>0.1</td>
        <td>Kullanıcı 2</td>
        <td>ETH</td>
        <td>6</td>
    </tr>
</table><br/>
<button><a style="height:30px;" class="btn btn-block" href="/Admin/Index">Geri</a></button>

