@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kullanıcılar</h2>
<br/>
<table class="table table-bordered">
    <tr>
        <th>Kullanıcı Adı</th>
        <th>Varlıkları</th>
        <th>Sil</th>
        <th>Detay</th>
        
    </tr>
    <tr>
        <td>Kullanıcı 1</td>
        <td>Varlıkları</td>
        <td><a href="#" class="btn btn-danger">Sil</a></td>
        <td><a href="/Admin/KullanıcıGoster/" class="btn btn-warning">Göster</a></td>
    </tr>
</table>
<br/>

