
@{
    ViewBag.Title = "KullanıcıGoruntule";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #dddddd;
    }
</style>

<h2>Kullanıcı Bilgileri</h2>

<table>
    <tr>
        <th>Adı</th>
        <th>SoyAdı</th>
        <th>e-mail</th>
        <th>Telefon</th>
    </tr>
    <tr>
        <td>Alfreds Futterkiste</td>
        <td>Maria Anders</td>
        <td>aaaa@gmail.com</td>
        <td>231231465464</td>
    </tr>
</table>
<br />
<h2>Kullanıcı Varlıkları</h2>
<table>
    <tr>
        <th>Coin Adı</th>
        <th>Sembol</th>
        <th>Fiyat (USD)</th>
        <th>Piyasa Değeri</th>
    </tr>
    <tr>
        <td>Bitcoin</td>
        <td>BTC</td>
        <td>47.755</td>
        <td>902.63</td>
    </tr>
</table>


