<!--@Model Proje.Models.Kullanıcılar.Kullanıcı -->
@{
    ViewBag.Title = "YeniKullanıcı";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css" />
</head>
<h2>Kullanıcı Bilgileri</h2>
<br/>
