<footer id="footer" class="top-space">

    <div class="footer1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 widget">
                    <h3 class="widget-title">Contact</h3>
                    <div class="widget-body">
                        <p>
                            <br>
                            <a href="mailto:#">some.email@somewhere.com</a><br>
                            <br>
                        </p>
                    </div>
                </div>
            </div> <!-- /row of widgets -->
        </div>
    </div>

    <div class="footer2">
        <div class="container">
            <div class="row">

                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p class="simplenav">
                            <a href="/Home/Index">Home</a> |
                            <a href="/Home/Borsa">Borsa</a> |
                            <a href="/Home/About">About</a> |
                            <b><a href="/Home/SignIn">Giriş</a></b>|
                            <b><a href="/Home/SignUp">Kayıt</a></b>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 widget">
                    <div class="widget-body">
                        <p>Footer için yazılacaklar</p>
                    </div>
                </div>

            </div> <!-- /row of widgets -->
        </div>
    </div>

</footer>
