<!-- Fixed Navbar-->
<div class="navbar navbar-inverse navbar-fixed-top headroom">
    <div class="container">
        
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li><a href="/Home/Index">Ana Sayfa</a></li>
                <li><a href="/Home/Borsa">Borsa</a></li>
                <li><a href="/Home/About">Hakkımızda</a></li>
                <li><a class="btn" href="/Account/Login">Giriş </a></li>
                <li><a class="btn" href="/Account/Register">Kayıt </a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
<!-- /.navbar -->
<div class="head">
    <br/>
</div>