@{
    ViewBag.Title = "Hakkımızda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css" />

</head>
<div class="jumbotron" id="head">
    <h1>Proje Adı</h1>
    <p class="lead">Proje hakkında bilgiler.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Birinci Kişi</h2>
        <p>Bilgiler</p>
    </div>
    <div class="col-md-3">
        <h2>İkinci Kişi</h2>
        <p>Bilgiler</p>

    </div>
    <div class="col-md-3">
        <h2>Üçüncü Kişi</h2>
        <p>Bilgiler</p>

    </div>
    <div class="col-md-3">
        <h2>Dördüncü Kişi</h2>
        <p>Bilgiler</p>
    </div>
</div>

