
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css" />

</head>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AlisVeris</title>
</head>
<body>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Ad Soyad</th>
                    <th>İstenilen Coin</th>
                    <th>Miktar</th>
                    <th>Verlicek Coin</th>
                    <th>#</th>
                </tr>

            </thead>

            <thead>
                <tr>
                    <td>kullanıcı1</td>
                    <td>BTC</td>
                    <td>2</td>
                    <td>ETH</td>
                    <td><button style="height:30px;" class="btn btn-info" href="#">Takas ET</button></td>
                </tr>
            </thead>
        </table>
        <button><a style="height:30px;" class="btn btn-block" href="/Home/Index">Geri</a></button>
    </div>
</body>
</html>
