@{
    ViewBag.Title = "Blockchain";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" type="text/css" href="~/Content/css/styles.css" />

</head>
<div class="container" id="head">
    <h2>Blockchain</h2>
</div>


